.eric6project/
_eric6project/
.eric7project/
_eric7project/
.jedi/
_jedi/
.ropeproject/
_ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
/MANIFEST
*.coverage
*.api
*.bas
Ui_*.py
main.py.ini
