.eric6project/
_eric6project/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
/MANIFEST
*.coverage
*.api
*.bas
sensor
testlimit
tester
isplpc
main.py.ini
programs/dummy
